.ant-menu-submenu .tabbedSubmenu {
    padding: 8px;
    width: 460px;
}

.ant-menu-submenu .tabbedSubmenu .ant-tabs .ant-tabs-left-content {
    font-size: 16px;
    padding-left: 18px;
    width: 320px;
}

.header .ant-menu-submenu .ant-menu-submenu-title a {
    color: unset;
}

.ant-menu-submenu .treeList .ant-list-item {
    font-size: 16px;
}

.ant-menu-submenu .placeFavouritesList {
    max-height: 300px;
    overflow-y: auto;
}

.ant-menu-submenu .placeSearch .ant-form-item {
    margin-bottom: 8px;
}