.ant-card-bordered {
    border-color: #D7D7D7 !important;
}

.ant-popover .ant-popover-inner-content {
    font-size: 16px;
    padding: 12px;
}

.ant-table-body table {
    table-layout: fixed;
}

.ant-pagination-item-link .anticon {
    margin-top: 0.75em;
}