.ant-card-bordered {
    border-color: #D7D7D7 !important;
}

.ant-menu-submenu a {
    color: unset;
}

.ant-menu-submenu > .ant-menu-submenu-active > a {
    color: #B72F17;
}

.ant-popover .ant-popover-inner-content {
    font-size: 16px;
    padding: 12px;
}