.small {
    font-size: .8em;
}

.gray, .unimportant, .background {
    color: #AAAAAA !important;
}

.yellow, .favourite {
    color: #ffe234 !important;
}

.bordered {
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}

.red {
    color: #b76337 !important;
}

.green {
    color: #4caf50;
}