.placeGroup.ant-card {
    position: absolute;
    width: 100%;
}

.placeGroup .ant-card-head-title {
    font-size: 1.5em;
}

.placeGroup .ant-card-body {
    padding-top: 0;
}

.placeGroup .ant-tabs-tab {
    font-size: 18px;
}

.placeGroup .ant-tabs-tab-active.ant-tabs-tab {
    font-weight: bold;
}

.placeGroup .ant-tabs-content .submenu {
    position: relative;
    margin-bottom: 12px;
}

.placeGroup .ant-tabs-content .submenu .places {
    padding-left: 8px;
}

.placeGroup .ant-tabs-content .description {
    font-size: 16px;
}

.placeGroup .places.ant-card, .placeGroup .records.ant-card {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.placeGroup .places.ant-card > .ant-card-head, .placeGroup .records.ant-card > .ant-card-head {
    padding-left: 0;
}

.placeGroup .places.ant-card .ant-card-body, .placeGroup .records.ant-card .ant-card-body {
    padding-left: 0;
}