.submenu .places {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    padding-left: 24px;
}

.submenu .places .place {
    color: #AAAAAA;
}

/*Home page*/
.home .country {
    display: inline-block;
    width: 300px;
}

/*Other pages*/
.leftRest .map {
    position: absolute;
    left: 0;
    width: 290px;
    height: 290px;
    background-color: white;
    border: 1px solid #D7D7D7;
}

.leftRest .typeDescription {
    position: absolute;
    top: 300px;
    left: 0;
    width: 290px;
    background-color: white;
    border: 1px solid #D7D7D7;
    padding: 8px;
}

.leftRest .info {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
}

.leftRest .info .ant-card-head-title, .churchRecords .ant-card-head-title {
    font-size: 1.5em;
}

.info .description {
    font-size: 1.2em;
    margin-bottom: 2em;
}

.placeCard {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    border: 0;
}

.placeCard .ant-card-body {
    padding: 8px !important;
}

.placeCard .ant-card-head {
    min-height: 38px;
    padding: 0 12px;
}

.placeCard .ant-card-head .ant-card-head-title {
    font-size: 1.25em !important;
    padding: 0;
}

.placeCard ul {
    padding-left: 24px;
}

.placeCard .notes {
    max-width: 300px;
}

.institutionRecords .placeCard {
    width: unset !important;
    min-width: 200px;
}

.institutionRecords .placeCard .ant-card-head {
    padding: 0 8px;
}

/*Specific oddity overrides*/

.map .leaflet-container {
    width: 100%;
    height: 100%;
}

.typeDescription p {
    margin-bottom: 0;
}

.info .links {
    display: inline-block;
    margin-left: 16px;
}

.info .links img {
    height: 1em;
}