.recordCardsCollapse .ant-collapse-header {
    font-size: 1.2em;
}

.recordCards .recordCard {
    display: inline-block;
    min-width: 200px;
    max-width: 350px;
    vertical-align: top;
    border: 0;
}

.recordCards.fixedWidth .recordCard {
    width: 240px;
}

.recordCards .recordCard .ant-card-body {
    padding: 8px !important;
}

.recordCards .recordCard .ant-card-head {
    padding: 0 8px;
    min-height: 38px;
}

.recordCards .recordCard .ant-card-head .ant-card-head-title {
    font-size: 1.25em;
    padding: 0 12px 0 0;
}

.recordCards .groupCard {
    display: inline-block;
    border: 0;
    vertical-align: top;
}

.recordCards .groupCard .ant-card-head {
    padding: 0 8px;
    font-size: 1em;
}

.recordCards .groupCard .ant-card-body {
    padding: 8px 24px;
}

.recordSetReferences ul {
    padding-left: 24px;
    margin-bottom: 0;
}

.recordCards input.filter {
    width: 180px;
    display: block;
    margin-bottom: 8px;
}