.records .ant-table .family .more {
    color: #AAAAAA !important;
}

.records .ant-table .family .relationship {
    font-style: italic;
}

.records .ant-table .family .unknown.name {
    font-style: italic;
}