.records .ant-table .family .birth, .records .ant-table .family .death, .records .ant-table .family .notes {
    margin-left: .5em;
    color: #AAAAAA !important;
}

.records .ant-table .family .relationship {
    margin-left: .5em;
    font-style: italic;
}