.imageGallery .thumbnails.inline {
    overflow-x: hidden;
}

.imageGallery .thumbnails.blocks {

}

.imageGallery .thumbnails .thumbnail {
    display: inline-block !important;
    position: relative !important;
    margin: 4px;
}

.imageGallery .thumbnails .thumbnail img {
    max-height: 150px;
}

.imageGallery .thumbnails .card {
    border: 0;
}

.imageGallery.ant-modal {
    top: 32px;
}

.imageGallery .magnifier {
    height: calc(100vh - 280px)
}

.imageGallery .magnifier img.base {
    max-height: 100%;
    cursor: zoom-in;
}

.imageGallery .magnifier div.magnified {
    position: relative;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    cursor: move;
}

.imageGallery .magnifier img.magnified {
    position: absolute;
    top: 0;
    left: 0;
}