.eventList .event {
    margin-bottom: 1em;
    font-size: 16px;
    min-height: 90px;
}

.eventList .event .ant-card-body {
    padding: 20px;
}

.eventList .event .left {
    position: absolute;
    left: 16px;
    width: 50px;
    text-align: center;
}

.eventList .event .left .year {
    font-size: 1.25em;
}

.eventList .event .left .date {
    font-size: .9em;
}

.eventList .event .right {
    position: relative;
    left: 55px;
    width: calc(100% - 55px);
}

.eventList .event .title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.25em;
}

.eventList .event .title .link {
    margin-left: 8px;
}

.eventList .event .computedAge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.1em;
}

.eventList .event .main .related {
    padding: 0;
    border: 0 !important;
    margin-top: 8px;
    font-size: 16px;
}

.eventList .event .main .person {
    text-transform: capitalize;
}

.eventList .event .main .person .life {
    margin-left: 0.5em;
}

.eventList .event .main .notes {
    margin-top: 8px;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.eventList .event .main .notes:empty {
    display: none;
}

.inferBirth.ant-modal .ant-modal-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.inferBirth.ant-modal .ant-modal-body {
    font-size: 16px;
}

.inferBirth.ant-modal .date.ant-checkbox-wrapper {
    display: block !important;
    margin: 8px 0;
    font-size: 1em;
}