.eventList .controls {
    margin-bottom: 1em;
}

.eventList .controls .ant-tag {
    font-size: 1.2em;
    line-height: 1.5em;
}

.eventList .event {
    margin-bottom: 1em;
}

.eventList .event .ant-card-body {
    padding: 20px;
}

.eventList .event .top {
    font-size: 16px;
}

.eventList .event .title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.25em;
}

.eventList .event .date {
    color: #AAAAAA !important;
    display: inline-block;
    margin-left: .5em
}

.eventList .event .givenAge {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.1em;
}

.eventList .event .main .related {
    padding: 0;
    border: 0 !important;
    margin-top: 8px;
    font-size: 16px;
}

.eventList .event .main .person .life {
    margin-left: 0.5em;
}