.area .info .tags {
    display: inline-block;
}

.area .info .tags .ant-tag {
    font-size: 16px;
    line-height: 24px;
}

.places.ant-card > .ant-card-head, .records.ant-card > .ant-card-head {
    border: 0;
}