.records .search, .records .filter {
    display: inline-block;
    font-size: 16px;
    margin-right: 16px;
}

.records .filter .ant-select {
    width: 250px;
}

.records .search input {
    width: 210px;
}

.records .table {
    margin-top: 16px;
}

.recordSet.leftRest .map {
    position: absolute;
    left: 0;
    width: 290px;
    height: 290px;
    background-color: white;
    border: 1px solid #D7D7D7;
}

.recordSet.leftRest .info {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
}

.recordSet .info .ant-card-head-title {
    font-size: 1.5em;
}

.recordSet .info .parent {
    font-size: 1.2em;
}

.records.ant-tabs .ant-table-wrapper {
    margin-top: -16px;
}

.records.ant-tabs .noData {
    margin-top: -16px;
    padding: 8px;
    font-size: 18px;
}

.ant-table td.image {
    width: 30px !important;
}