.viewTree .submenu {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    padding-left: 24px;
}

.viewTree .submenu .title {
    font-weight: bold;
}

.viewTree .submenu .control {
    margin-left: 32px;
    cursor: default;
}