.personProfile .submenu {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    padding-left: 24px;
}

.personProfile .submenu .tree {
    font-weight: bold;
}

.personProfile .submenu .person {
    margin-left: 32px;
}

.personProfile .profile .gallery {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
}

.personProfile .profile .eventList {
    position: absolute;
    left: 306px;
    top: 0;
    width: calc(100% - 712px);
    min-width: 400px;
}

.personProfile .profile .eventList .event {
    margin-bottom: 1em;
}

.personProfile .profile .eventList .event.birth {
    border: 1px solid #4caf50 !important;
}

.personProfile .profile .eventList .event.death {
    border: 1px solid #b76337 !important;
}

.personProfile .profile .eventList .event .top {
    font-size: 16px;
}

.personProfile .profile .eventList .event .title {
    display: inline-block;
    font-weight: bold;
}

.personProfile .profile .eventList .event .date {
    color: #AAAAAA !important;
    display: inline-block;
    margin-left: .5em
}

.personProfile .profile .relatives {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
}