.personProfile .submenu {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    padding-left: 24px;
}

.personProfile .submenu .tree {
    font-weight: bold;
}

.personProfile .submenu .person {
    margin-left: 32px;
}

.personProfile .profile .events {
    display: inline-block;
    width: 50%;
}

.personProfile .profile .events .controls {
    margin-bottom: 1em;
}

.personProfile .profile .events .controls .ant-tag {
    font-size: 1.2em;
    line-height: 1.5em;
}

.personProfile .profile .events .eventList .event:hover {
    border: 1px solid black !important;
}

.personProfile .profile .events .eventList .event.birth {
    border: 1px solid #4caf50;
}

.personProfile .profile .events .eventList .event.death {
    border: 1px solid #b76337;
}

.personProfile .profile .relatives {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}