.submenu .places {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    padding-left: 24px;
}

.submenu .places .place {
    color: #AAAAAA;
}

.leftRest .map {
    position: absolute;
    left: 0;
    width: 290px;
    height: 290px;
    background-color: white;
    border: 1px solid #D7D7D7;
}

.leftRest .info {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
}

.leftRest .info .ant-card-head-title, .churchRecords .ant-card-head-title {
    font-size: 1.5em;
}

.childPlace {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    border: 0;
}

.childPlace .ant-card-head-title {
    font-size: 1.25em;
}

.childPlace ul {
    padding-left: 24px;
}

.map .leaflet-container {
    width: 100%;
    height: 100%;
}