.submenu .places {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    padding-left: 24px;
}

.submenu .places .place {
    color: #AAAAAA;
}

.institution .info {
    position: absolute;
    left: 300px;
    right: 350px;
}

.institution .info .ant-card-head-title, .churchRecords .ant-card-head-title {
    font-size: 1.5em;
}

.institution .records {
    position: absolute;
    right: 0;
    width: 340px;
}

.institution .placeMap {
    position: absolute;
    left: 0;
    width: 290px;
    height: 290px;
    background-color: white;
    border: 1px solid #D7D7D7;
}