.submenu .places {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    padding-left: 24px;
}

.submenu .places .place {
    color: #AAAAAA;
}

.churchInfo {
    position: absolute;
    left: 300px;
    right: 350px;
}

.churchInfo .ant-card-head-title, .churchRecords .ant-card-head-title {
    font-size: 1.5em;
}

.churchRecords {
    position: absolute;
    right: 0;
    width: 340px;
}